body {
  background-image: url(../images/SBABackground-2.png);
  background-repeat: no-repeat;
  background-size: 1920px;
  --color-primary: #1778f2;
  --color-secondary: #fc4c02;
  --color-secondary-dark: #ad3603;
  --color-error: #e20c0c;
  --color-success: #4bb544;
  --border-radius: 4px;

  /* Orange reference: Hex: #FC4C02 RGB: (252, 76, 2) */
  /* Blue reference: Hex: #1778F2 RGB: (23, 120, 242) */
  /* White is just solid white */

  font-family: "Koulen", cursive;
  /* font-size: 18px; */
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: inherit;
  grid-column-gap: 10px;
}
.home-button {
  grid-column: 1;
  grid-row: 1;
  font-family: "Koulen", cursive;
  margin: 15px;
}
.half-marathon-title-container {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: 3%;
}
.h1-header {
  color: white;
  font-size: 3em;
  font-family: "Koulen", cursive;
}
.h2-header {
  font-size: 37px;
  text-decoration: underline;
  font-family: "Koulen", cursive;
}
.h3-header {
  font-size: 30px;
  font-family: "Koulen", cursive;
}
.user-profile-button {
  grid-column: 3;
  font-family: "Koulen", cursive;
  grid-row: 1;
  justify-self: end;
  margin: 15px;
  z-index: 6;
}
.user-logout-button{
  grid-column: 3;
  font-family: "Koulen", cursive;
  grid-row: 1;
  justify-self: end;
  margin-right: 115px;
  margin-top: 15px;
  z-index: 6;
}
.starting-block-runner-container {
  grid-column: 1;
  grid-row: 2;
  margin-left: 4%;
}
#starting-block-runner-img {
  width: 64vmax;
  border: 4px solid white;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
.calculator-half-marathon-pace {
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  grid-column: 2;
  grid-row: 2;
  color: white;
  border: 4px solid white;
  border-radius: 25% 10%;
  background-color: var(--color-secondary);
  height: 77%;
  width: 92%;
  margin-top: 4%;
  margin-left: 12%;
  z-index: 2;
}
#calculator {
  text-align: center;
  font-size: 25px;
  font-family: "Koulen", cursive;
  width: 430px;
  margin-top: 4%;
  margin-left: 12%;
}
#calculate_btn{
  background-color: var(--color-primary);
  color: white;
  border: 2px solid white;
}
input {
  width: 90px;
}
.time-instructions{
  font-size: 21px;
}
#pace {
  font-size: 30px;
}
.predictor-half-marathon {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  grid-column: 3;
  grid-row: 2;
  color: white;
  border: 4px solid white;
  border-radius: 25% 10%;
  background-color: var(--color-secondary);
  height: 77%;
  width: 92%;
  margin-top: 4%;
  margin-left: 5%;
  z-index: 3;
}
#prediction-calculator{
  text-align: center;
  font-size: 25px;
  font-family: "Koulen", cursive;
  width: 430px;
  margin-top: 4%;
  margin-left: 12%;
}
#predictor-pace {
  font-size: 30px;
}
#d1 {
  margin-top: 2%;
  margin-bottom: 2%;
}
#predictor_calculate_btn{
  background-color: var(--color-primary);
  color: white;
  border: 2px solid white;
}
#predictor-pace{
  display: none;
}