<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <!-- CSS link -->
    <link rel="stylesheet" href="css/Create_User.css" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<!-- stacked pictures -->
<main class="image-stack">
    <div class="image-stack__item image-stack__itemTop">
        <img
                src="images/trackLanes.jpg"
                id="trackLanes"
                alt="track lanes at starting line"
        />
    </div>
    <div class="image-stack__item image-stack__itemBottom">
        <img
                src="images/blue_sky2.jpg"
                id="blue_sky2"
                alt="blue skies and white clouds"
        />
    </div>
            <!-- REGISTER ACCOUNT FORM -->
    <div class="container2">
        <form id="createAccount" th:action="@{/register}" th:object="${user}" method="post" >
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message--error"></div>

            <div class="form__input-group">
                <input
                        type="text"
                        autofocus
                        class="form__input"
                        th:field="*{firstName}"
                        placeholder="First Name"
                />
                <div class="form__input--error-message"></div>
            </div>
            <div class="form__input-group">
                <input
                        type="text"
                        class="form__input"
                        th:field="*{lastName}"
                        placeholder="Last Name"
                />
                <div class="form__input--error-message"></div>
            </div>
            <div class="form__input-group">
                <input
                        type="text"
                        class="form__input"
                        th:field="*{email}"
                        placeholder="Email Address"
                />
                <div class="form__input--error-message"></div>
            </div>
            <div class="form__input-group">
                <input
                        type="password"
                        class="form__input"
                        th:field="*{password}"
                        placeholder="Password"
                        name = "password"
                />
                <div class="form__input--error-message"></div>
            </div>

            <button name="register" class="form__button" type="Submit" th:text="register"></button>

            <p class="form__text">
                <a class="form__link" href="/" id="linkLogin"
                >Already have an account? Sign in</a
                >
            </p>
        </form>
    </div>
    <!-- PR LOGO ON LEFT -->
    <img
            src="images/PRLogo.png"
            alt="PR logo"
            class="PRLogo"
            style="width: 450px"
    />
</main>
</body>
</html>