<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Half-Marathon Predictor</title>
    <!-- CSS link -->
    <link rel="stylesheet" href="css/Half_Marathon_Predictor.css"/>
    <!-- javascript link -->
    <script src="javascript/Half_Marathon_Predictor.js" defer></script>
    <!-- bootstrap-->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<!-- home page button top left -->
<div class="home-button">
    <a
            type="button"
            href="/Home_Page"
            class="btn btn-primary"
            style="font-size: 20px"
    >Home</a
    >
</div>
<!-- Half Marathon title  -->
<div class="half-marathon-title-container">
    <h1 class="h1-header">Half Marathon</h1>
</div>
<!-- user profile button top right -->
<div class="user-profile-button">
    <a
            type="button"
            href="/Profile_Page"
            class="btn btn-primary"
            style="font-size: 20px"
    >Profile</a
    >
</div>
<!-- background photo -->
<div class="starting-block-runner-container">
    <img
            src="images/starting_block_runner.jpg"
            id="starting-block-runner-img"
    />
</div>
<!-- Calculator half marathon pace -->
<div class="calculator-half-marathon-pace">
    <br>
    <h2 class="h2-header">Running Pace Calculator</h2>
    <div id="calculator">
        <br>
        <h3 class="h3-header">
            Type the time you'd like to run 13.1 miles in to find your goal
            pace!
        </h3>
        <br>
        <p>
        <p class="time-instructions"> (&nbsp;input as "xx&nbsp;:&nbsp;xx&nbsp;:&nbsp;xx"&nbsp;)</p>
        <p>
            Time: <input type="text" placeholder="hours" id="hours"/> :
            <input type="text" placeholder="minutes" id="minutes"/> :
            <input type="text" placeholder="seconds" id="seconds"/>
        </p>
        <p>
            <button id="calculate_btn">Calculate Pace</button>
        </p>
        <p id="pace"></p>
    </div>
</div>
<!-- Predictor half marathon  -->
<div class="predictor-half-marathon">
    <br>
    <h2 class="h2-header">Race Predictor</h2>
    <div id="prediction-calculator">
        <br>
        <h3>Enter a recent race time and it's corresponding distance </h3>
        <br>

        <p class="time-instructions"> (&nbsp;input as "xx&nbsp;:&nbsp;xx&nbsp;:&nbsp;xx"&nbsp;)</p>

        <p>
            Time:
            <input type="text" placeholder="Hours" id="t1hours"> :
            <input type="text" placeholder="Minutes" id="t1minutes"> :
            <input type="text" placeholder="Seconds" id="t1seconds">
            <br>
            Distance:
            <input type="text" placeholder="Miles" id="d1">
            <br>
        </p>
        <!--       2 different forms, make th:if on form-->
        <!--       Update of half marathon prediction       -->
        <form th:if="${exists}"
              th:action="@{/Add_Half-Marathon_Predictor/{predictions} (predictions=${predictions?.halfMarathonPrediction})}"
              th:object="${predictions}" method="POST" id="hm-form">
            <p>
                <button id="predictor_calculate_btn">Update Race Time</button>
            </p>
            <!--       Thymeleaf to catch prediction output:       -->
            <input id="predictor-pace" th:field="*{halfMarathonPrediction}"></input>
        </form>
        <!--       Creation of half marathon prediction        -->
        <form th:unless="${exists}"
              th:action="@{/Half-Marathon_Predictor/{predictions} (predictions=${predictions?.halfMarathonPrediction})}"
              th:object="${predictions}" method="POST" id="hm-form2">
            <p>
                <button id="predictor_calculate_btn">Calculate Race Time</button>
            </p>
            <!--       Thymeleaf to catch prediction output:       -->
            <input id="predictor-pace" th:field="*{halfMarathonPrediction}"></input>

        </form>
    </div>
</div>
</body>
</html>
<!--Thymeleaf binding: -->
<!--th:action="@{/halfMarathonPrediction}" th:object="${predictions}" method="POST"-->