<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page</title>
    <!-- CSS link -->
    <link rel="stylesheet" href="css/Home_Page.css"/>
    <!-- javascript link -->
    <script src="" defer></script>
    <!-- bootstrap -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
    />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<!-- user profile button top right -->
<div class="user-profile-button">
    <a
            type="button"
            href="/Profile_Page"
            class="btn btn-primary"
            style="font-size: 20px"
    >Profile</a
    >
</div>
<!-- sunset img -->
<div class="sunset-container">
    <img src="images/sunSetRun.jpg" class="grid-item grid-item-1"/>
</div>

<div class="PRContainer">
    <h1 style="font-size: 200%">PR</h1>
    <h2>
        PR: Stands for "Personal Record" - an individual's best time in a race
        of a specific distance.
    </h2>
    <br/>
    <h2>
        As runners, we are always striving for those illusive numbers. Let our
        group of coaches help you blaze a path to <i>your</i> next PR!
    </h2>
    <br/>
    <!-- PR box -->
    <ul class="PRList">
        <h3 style="font-size: 1.3em"><u>How to PR:</u></h3>
        <li>1. Find a Coach&nbsp;&nbsp;</li>
        <li>2. Find a Goal</li>
        <br/>
        <li>3. Find a Race&nbsp;&nbsp;</li>
        <li>4. Follow the Plan!</li>
    </ul>
    <br/>
    <h3>Click on the links below to start your PR journey today!</h3>
</div>
<!-- Dropdowns in bottom row: -->
<div class="dropdown">
    <button class="dropbtn">Our Coaches</button>
    <div class="dropdown-content">
        <a href="https://www.minnesotadistanceelite.com/breanna-sieracki"
        >Coach Breanna</a
        >
        <a href="https://www.minnesotadistanceelite.com/colin-abert"
        >Coach Colin</a
        >
        <a href="https://www.minnesotadistanceelite.com/dakotah-lindwurm"
        >Coach Dakotah</a
        >
    </div>
</div>
<div class="dropdown2">
    <button class="dropbtn">Nearby Races</button>
    <div class="dropdown-content">
        <a href="https://runningintheusa.com/race/list/mn/upcoming">MN</a>
        <a href="https://runningintheusa.com/race/list/wi/upcoming">WI</a>
        <a href="https://runningintheusa.com/race/list/nd/upcoming">ND</a>
        <a href="https://runningintheusa.com/race/list/ia/upcoming">IA</a>
    </div>
</div>
<!-- add dropdown for 1/2 marathon and marathon pages -->
<div class="dropdown3">
    <button class="dropbtn">Predictions</button>
    <div class="dropdown-content">
        <a href="/Half-Marathon_Predictor">Half Marathon Predictor</a>
        <a href="/Marathon_Predictor">Marathon Predictor</a>
    </div>
</div>

<div class="successContainer">
    <a href="/Choose_A_Coach">
        <button class="findSuccess">Choose a Coach</button>
    </a>
</div>

<div class="image-stack">
    <div class="image-stack__itemTop">
        <img src="images/finishLine.jpg" id="finishLine"/>
    </div>
    <div class="image-stack__itemBottom">
        <img src="images/blue_sky1.jpg" id="blue_sky1"/>
    </div>
</div>
</body>
</html>
